@reference "../styles/globals.css";
@layer components {
  .player-profile-stats {
    @apply bg-[#191D24] w-[78px] h-[78px]  p-2 rounded-lg flex flex-col items-center;
  }
  .link-active {
    @apply bg-primary;
  }
  .dashboard-h {
    min-height: calc(100vh - 64px);
  }
  .side-bar-config-button-gap {
    gap: calc(100vh - 164px);
  }
  .side-bar-fixed {
    position: sticky;
    top: 10px;
  }
  .container-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: max-content;
    grid-template-areas:
      'navbar navbar navbar navbar navbar'
      'sidebar main main main main';
  }

  .logo {
    grid-area: navbar;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .main {
    grid-area: main;
  }

  .new-game-button {
    transform: rotateX('angle');
  }
}
.toast {
  @apply bg-primary;
}
@layer inputDate {
  .input-date {
    @apply bg-base-300 text-secondary  h-auto w-auto;
  }
  .input-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
@layer components {
  .player-profile-stats {
    @apply bg-[#191D24] w-[78px] h-[78px]  p-2 rounded-lg flex flex-col items-center;
  }
  .link-active {
    @apply bg-primary;
  }
  .dashboard-h {
    min-height: calc(100vh - 64px);
  }
  .side-bar-config-button-gap {
    gap: calc(100vh - 164px);
  }
  .side-bar-fixed {
    position: sticky;
    top: 10px;
  }
  .container-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: max-content;
    grid-template-areas:
      'navbar navbar navbar navbar navbar'
      'sidebar main main main main';
  }

  .logo {
    grid-area: navbar;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .main {
    grid-area: main;
  }

  .new-game-button {
    transform: rotateX('angle');
  }
}
