@import 'tailwindcss';
@plugin "daisyui" {
  themes: futquinta --default;
}
@plugin "daisyui/theme" {
  name: 'futquinta';
  default: true; /* set as default */

  --color-base-100: '#FAF9F6';
  --color-base-200: ' #B5F024 ';
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(10% 0.05 240);
  --color-primary: '#1F5734';
  --color-primary-content: oklch(10% 0.01 240);
  --color-secondary: ' #B5F024 ';
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: '#7cc94c';
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: '#1C2632';
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: '#A9DCEA';
  --color-info-content: oklch(98% 0.01 220);
  --color-success: '#15B751';
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: '#B07311' --color-warning-content: oklch(20% 0.05 80);
  --color-error: '#FC222D';
  --color-error-content: oklch(98% 0.01 30);
  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@layer theme, base, components, utilities;
* {
  font-family: 'Oxygen', sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c2632;
}
input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #191d24;
  border-radius: 99999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.main-container-height {
  min-height: calc(100vh - 80px);
}
.container-height {
  min-height: calc(100vh - 95px);
}
.poligon {
  -webkit-clip-path: ellipse(50% 50% at 50% 50%);
  clip-path: ellipse(50% 50% at 50% 50%);
}
.goalkeeper-rank-height {
  min-height: calc(100vh - 120px);
}

input[type='number'] {
  all: unset;
  width: 40px;
  font-size: 36px;
}
.logo {
  font-family: 'Bangers', cursive;
}

.dashboard-players-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
}
.dashboard-players-stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}
.home-page-games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;
}
.home-page-players-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;
}
@media (min-width: 600px) {
  .home-page-games-grid {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }
}
body .Toastify .Toastify__toast-container .Toastify__toast--success {
  background-color: black;
}
body .Toastify .Toastify__toast-container .Toastify__toast--error {
  background-color: #191d24;
  border-radius: 20px;
  font-family: 'Oxygen', sans-serif;
}
body .Toastify__progress-bar--error {
  background-color: #ff000096;
}
body .Toastify__progress-bar--success {
  background-color: #15803d;
}
.loader {
  min-width: 100px;
  min-height: 100px;

  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #15803d transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reset-input {
  border: none;
  outline: none;
}

.fade-in-out {
  animation: blink-2 1s ease-in-out infinite alternate-reverse;
}

@keyframes blink-2 {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.scale-in-hor-left {
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-2 17:49:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}
@layer components {
  .player-profile-stats {
    background-color: var(--b1);
    width: 78px;
    height: 78px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link-active {
    background-color: var(--p); /* bg-primary */
  }

  .dashboard-h {
    min-height: calc(100vh - 64px);
  }

  .side-bar-config-button-gap {
    gap: calc(100vh - 164px);
  }

  .side-bar-fixed {
    position: sticky;
    top: 10px;
  }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: max-content;
    grid-template-areas:
      'navbar navbar navbar navbar navbar'
      'sidebar main main main main';
  }

  .logo {
    grid-area: navbar;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .main {
    grid-area: main;
  }

  .new-game-button {
    transform: rotateX(var(--rotate-angle, 0deg));
  }
}

/* Toast fora do layer */
.toast {
  background-color: var(--p); /* bg-primary */
}

/* Input date */
@layer inputDate {
  .input-date {
    background-color: var(--b3); /* bg-base-300 */
    color: var(--s); /* text-secondary */
    width: auto;
    height: auto;
  }

  .input-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
