@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .player-profile-stats {
    @apply bg-[#191D24] w-[78px] h-[78px]  p-2 rounded-lg flex flex-col items-center
  }
  .link-active{
    @apply bg-primary
  }
  .dashboard-h{
    min-height: calc(100vh - 64px);
  }
  .side-bar-config-button-gap{
    gap: calc(100vh - 164px);
  }
  .side-bar-fixed {
    position: sticky;
    top: 10px;
  }
  .container-grid {  display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: max-content;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      "sidebar main main main main";
  }
  
  .logo { 
    grid-area: navbar; 
    
  }
  
  .sidebar { grid-area: sidebar;}
  
  .main { grid-area: main; }
  
  
}

*{
  font-family: 'Oxygen', sans-serif;
  
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1C2632; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #191D24; 
  border-radius: 99999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.main-container-height{
  min-height: calc(100vh - 80px);
}
.container-height{
  min-height: calc(100vh - 95px);
} 
.poligon{
  -webkit-clip-path: ellipse(50% 50% at 50% 50%);
  clip-path: ellipse(50% 50% at 50% 50%);
}
.goalkeeper-rank-height{
  min-height: calc(100vh - 120px);
}

input[type='number']{
  all: unset;
  width: 40px;
  font-size: 36px;
}
.logo{
  font-family: 'Bangers', cursive;
}

.dashboard-players-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
}
.dashboard-players-stats-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}
.home-page-games-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;

}
.home-page-players-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;

}
@media (min-width: 600px)
{
  .home-page-games-grid{
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }
}
body .Toastify .Toastify__toast-container .Toastify__toast--success{
  background-color: black
}
body .Toastify .Toastify__toast-container .Toastify__toast--error{
  background-color: #191D24;
  border-radius: 20px;
  font-family: 'Oxygen', sans-serif;
}
body .Toastify__progress-bar--error {
  background-color: #ff000096;

}
body .Toastify__progress-bar--success {
  background-color: #15803D;

}
.loader {
  min-width: 100px;
  min-height: 100px;
  
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #15803D transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.reset-input{
  border: none;
  outline: none;
  
}

.fade-in-out{
  animation: blink-2 1s ease-in-out infinite alternate-reverse;
}


@keyframes blink-2{
  0%{opacity:0.2}
  
  100%{opacity:1}}